<?xml version="1.0"?>
<config>
    <modules>
        <Vortex_Checkout>
            <version>1.0.1</version>
            <depends>
                <Mage_Checkout/>
                <Yireo_GoogleTagManager/>
                <SessionDigital_Worldpay/>
            </depends>
        </Vortex_Checkout>
    </modules>

    <global>
        <helpers>
            <vortex_checkout>
                <class>Vortex_Checkout_Helper</class>
            </vortex_checkout>
        </helpers>
        <blocks>
            <vortex_checkout>
                <class>Vortex_Checkout_Block</class>
            </vortex_checkout>
        </blocks>
        <resources>
            <vortex_checkout_setup>
                <setup>
                    <module>Vortex_Checkout</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </vortex_checkout_setup>
        </resources>
        <models>
            <vortex_checkout>
                <class>Vortex_Checkout_Model</class>
            </vortex_checkout>
            <worldpay>
                <rewrite>
                    <authorisation_recurringService>Vortex_Checkout_Model_SessionDigital_Worldpay_Authorisation_RecurringService</authorisation_recurringService>
                </rewrite>
            </worldpay>
        </models>
        <events>
            <customer_address_save_after>
                <observers>
                    <update_quote_address_with_customer_address>
                        <class>vortex_checkout/observer</class>
                        <method>updateQuoteAddressOnCustomerAddressSave</method>
                    </update_quote_address_with_customer_address>
                </observers>
            </customer_address_save_after>
            <salesrule_validator_process>
                <observers>
                    <add_discount_breakdown_to_quote>
                        <class>vortex_checkout/observer</class>
                        <method>addDiscountBreakdownToQuote</method>
                    </add_discount_breakdown_to_quote>
                </observers>
            </salesrule_validator_process>
            <controller_action_predispatch>
                <observers>
                    <split_test_checkout>
                        <class>vortex_checkout/observer</class>
                        <method>forceSplitTestCheckout</method>
                    </split_test_checkout>
                </observers>
            </controller_action_predispatch>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <split_test_checkout>
                        <class>vortex_checkout/observer</class>
                        <method>splitTestCheckout</method>
                    </split_test_checkout>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <split_test_checkout>
                        <class>vortex_checkout/observer</class>
                        <method>splitTestCheckout</method>
                    </split_test_checkout>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
        </events>
    </global>

    <frontend>
        <routers>
            <vortex_checkout>
                <use>standard</use>
                <args>
                    <module>Vortex_Checkout</module>
                    <frontName>fast-checkout</frontName>
                </args>
            </vortex_checkout>
            <checkout>
                <args>
                    <modules>
                        <vortex_checkout before="Enterprise_Checkout">Vortex_Checkout_Checkout</vortex_checkout>
                    </modules>
                </args>
            </checkout>
        </routers>
        <translate>
            <modules>
                <vortex_checkout>
                    <files>
                        <default>Vortex_Checkout.csv</default>
                    </files>
                </vortex_checkout>
            </modules>
        </translate>
        <layout>
            <updates>
                <vortex_checkout>
                    <file>vortex/checkout.xml</file>
                </vortex_checkout>
            </updates>
        </layout>
    </frontend>

    <default>
        <ewmg_checkout>
            <postcode_anywhere>
                <lookup_key>ZM84-JH59-HD92-TG97</lookup_key>
                <find_endpoint><![CDATA[https://services.postcodeanywhere.co.uk/Capture/Interactive/Find/v1.00/json3ex.ws]]></find_endpoint>
                <retrieve_endpoint><![CDATA[https://services.postcodeanywhere.co.uk/Capture/Interactive/Retrieve/v1.00/json3ex.ws]]></retrieve_endpoint>
                <geocode_key>MH39-HB51-RW69-KE13</geocode_key>
                <geocode_country>GB</geocode_country>
                <geocode_endpoint><![CDATA[https://services.postcodeanywhere.co.uk/Geocoding/International/Geocode/v1.10/json3ex.ws]]></geocode_endpoint>
            </postcode_anywhere>
            <ab_testing>
                <percentage_to_new_checkout>0</percentage_to_new_checkout>
            </ab_testing>
        </ewmg_checkout>
    </default>
</config>
